.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  height: 100%;
  float: right;
  width: 85%;
  display: flexbox;
}
h1{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 35px;
}
h2{

  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.Sidebar{
  width: 15%;
  float: left;
  background-color:#2F4050;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: white;
  position:fixed;  

}

.Sidebar p{
  margin-left: 20px;
  display: flex;
}

.Sidebar p:hover{
cursor: pointer;
background-color: rgb(2, 27, 51);
}

.root{
  height: 100%;
}